modules = ["web", "nodejs-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Start Nzija Server"
author = 38651611
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Run"
author = 44658684
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Start with Dependencies"
author = 44658684
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --legacy-peer-deps"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[deployment]
run = ["sh", "-c", "npm run dev"]
